@media screen and (min-width: 1001px) {
    * {
        margin: 0;
        padding: 0;
        text-align: center;
        box-sizing: border-box;
    }

    header {
        background-color: #487eb0;
        height: 200px;
        border: 5px solid white;
    }
    #header-logo{
        width: 25%;
        height: 100%;
        float: left;
        border-right: 5px solid gray;
    }
    #img-header-logo{
        width: 100%;
        height: 100%;

    }
    #header-banner{

        width: 75%;
        height: 100%;
        float: left;
    }
    #img-header-banner{
        width: 100%;
        height: 100%;

    }
    nav {
        height: 50px;
        border: 5px solid white;
    }
    #nav-ul{

    }
    .nav-li{
        background-color: #4cd137;
        padding-top: 5px;
        display: inline-block;
        list-style: none;
        width: 170px;
        line-height: 35px;
        border-radius: 4px;
    }
    .nav-li:hover{
        background-color: #487eb0;
        color: white;
    }

    #left-nav-ul{
    }
    .left-nav-li{
        background-color: #4cd137;
        list-style: none;
        line-height: 35px;
        border-radius: 4px;
        margin: 10px 10px 10px 10px;
    }
    .left-nav-li:hover{
        background-color: #487eb0;
        color: white;
    }


    #main-body {
        width: 25%;
        height: 600px;
        float: left;
        border: 5px solid white;

    }

    section {
        background-color: red;
        height: 50%;
        width: 100%;
        border: 5px solid gray;
    }

    article {
        background-color: #fbc531;
        height: 50%;
        width: 100%;
        border: 5px solid gray;
        padding: 20px;
    }

    #img-left-banner {
        max-width: 50%;
        max-height: 50%;
        float: left;
    }
    #film-desc{
        max-width: 50%;
        max-height: 100%;
        float: left;
    }
    aside {
        background-color: green;
        height: 600px;
        width: 75%;
        float: left;
        border: 5px solid white;;
    }

    .video-content {
        background-color: #fbc531;
        width: 25%;
        height: 50%;
        border: 5px solid gray;
        float: left;
    }

    .video-title {
        width: 100%;
        height: 20%;
    }

    .video-frame {
        width: 100%;
        height: 80%;
    }

    iframe {
        width: 100%;
        height: 80%;
    }

    footer {
        clear: both;
        background-color: aqua;
        height: 50px;
        border: 5px solid gray;
        line-height: 40px;
    }
}

@media screen and (min-width: 500px) and (max-width: 1000px) {
    * {
        margin: 0;
        padding: 0;
        text-align: center;
        box-sizing: border-box;
    }

    header {
        background-color: #487eb0;
        height: 200px;
        border: 5px solid white;
    }
    #header-logo{
        width: 100%;
        height: 50%;
        border-right: 5px solid gray;
    }
    #img-header-logo{
        width: 100%;
        height: 100%;
    }
    #header-banner{
        width: 100%;
        height: 50%;
    }
    #img-header-banner{
        width: 100%;
        height: 100%;
    }
    nav {
        line-height: 20px;
        background-color: #4cd137;
    }
    #nav-ul{

    }
    .nav-li{
        background-color: #4cd137;
        display: inline-block;
        list-style: none;
        width: 70px;
    }
    .nav-li:hover{
        background-color: #487eb0;
        color: white;
    }

    #left-nav-ul{
    }
    .left-nav-li{
        background-color: #4cd137;
        list-style: none;
        line-height: 35px;
        border-radius: 4px;
        display: inline-block;

    }
    .left-nav-li:hover{
        background-color: #487eb0;
        color: white;
    }


    #main-body {
        width: 100%;
        height: 200px;
        border: 5px solid white;
    }

    section {
        height: 20%;
        width: 100%;
    }

    article {
        background-color: #fbc531;
        height: 80%;
        width: 100%;
        border: 5px solid gray;
    }

    #img-left-banner {
        max-width: 100%;
        max-height: 50%;
        visibility: hidden;
    }
    #film-desc{
        max-width: 100%;
        max-height: 100%;
    }
    aside {
        clear: both;
        background-color: green;
        height: 600px;
        width: 100%;
        border: 5px solid white;;
    }

    .video-content {
        background-color: #fbc531;
        width: 25%;
        height: 50%;
        border: 5px solid gray;
        float: left;
    }

    .video-title {
        width: 100%;
        height: 20%;
    }

    .video-frame {
        width: 100%;
        height: 80%;
    }

    iframe {
        width: 100%;
        height: 80%;
    }

    footer {
    clear: both;
        background-color: aqua;
        height: 50px;
        border: 5px solid gray;
        line-height: 40px;
    }
}


